
{% extends "main_page/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

  <h1>Identify Breed</h1>
<div>
<hr>
<b>Upload Image</b>
<br>
<br>
<form method="POST" enctype="multipart/form-data" id="my_form">
  {% csrf_token %}
<center><img id="dvPreview"></center>
<br><br>

<!--<input class="btn btn-primary" style="background-color: #3f51b5;" id="fileupload" type="file" />-->

<div id="form_image" >{{ form.img1 }}</div>
<br><br>
<input type="submit" class="btn btn-success" value="Predict" >
<br><br>
</form>

<div class="form-row">
  <div class="form-col"><b></div></div>
<div class="form-row">
  <div class="form-col">{{ form.breed|as_crispy_field }}  </div></div></b>
  
<div class="form-row">
  <div class="form-col"><b>Information: </b></div></div>
<div class="form-row">
  <div class="form-col"><textarea class="form-control" style="height: 300px; width: 500px;"></textarea></div></div>

 <br><br>

 <input  type="button" onclick="myFunction()" class="btn btn-danger" value="Is this dog lost?">

<div id="myDIV" style="display: none">
  <br>

  <div class="form-row">
  <div class="form-col"><b>Enter Your Details </b></div></div>
  <div class="form-row">
  <div class="form-group col-md-6"><b>
  </div></b>
  <div class="form-group col-md-6"><b>
  </div></b>
  </div>

  <div class="form-row">
  <div class="form-group col-md-6"><b>
  </div></b>
  </div>

  <div class="form-row">
  <div class="form-group col-md-6"><b>
  </div></b>
  </div>
  
  <input type="button" class="btn-success" name="">


</div>




</div>

{% endblock content %}
